body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 500px;
  background: #fff;
  margin: 16px auto;
}

.title {
  background: #e3f4ff;
  border: 9px solid #fff;
  border-bottom: 0px;
}
h1 {
  margin: 0px;
}

.content {
  background: #e3f4ff;
  border: 9px solid #fff;
}

.button-container {
  background: #e3f4ff;
  border: 9px solid #fff;
  border-top: 0px;
}

button {
  background: white;
  border: 1px solid #eee;
}